{% extends 'email/layout.html.twig' %}

{% block title %}{{ 'email.resetPassword.title' | trans }}{% endblock %}

{% block body %}
<p>{{ 'email.resetPassword.header' | trans }}</p>
<a href="{{ link | raw }}">
    {{ 'email.resetPassword.cta' | trans }}
</a>
<p>{{ 'email.resetPassword.footer' | trans }}</p>
{% endblock %}